<div class="col-xs-6 col-md-3 product-box">
<% cache product do %>
    <p><h4><%= product.name %></h4></p>
    <div class="thumbnail">
        <%= image_tag(product.image_url, :class => "thumbnail product-image img img-rounded") %> 
    </div>
    <p><h4>Description: </h4><%= product.description %></p>
    <p><h4>Price: </h4><span class="glyphicon glyphicon-euro" aria-hidden="true"></span><%= product.price %></p>
    <p><%= link_to 'Show', product, :class => 'btn btn-default', :type => 'button' %> 
    <%= link_to 'Edit', edit_product_path(product), :class => 'btn btn-default', :type => 'button' %> 
    <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-default', :type => 'button' %></p>
<% end %>
</div>