<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <%= render @product %>
    <br>
    <div class="show-page-product-detail">
      <p>Name: <%= @product.name %></p>
      <p>Description: <%= @product.description %></p>
      <p>Price: <span class="glyphicon glyphicon-euro" aria-hidden="true"></span> <%= @product.price %></p>
      <%= link_to 'Edit', edit_product_path(@product), :type => 'button', :class => 'btn btn-default' %> |
      <%= link_to 'Products Listing', products_path, :type => 'button', :class => 'btn btn-default' %>
    </div>
  </div>
</div>
<div class="button">
 <%= link_to 'Back', url_for(:back), :class => 'btn'%>
</div>